{
  "DATABASE_URL": "jdbc:postgresql://localhost:5432/subauth",
  "DATABASE_USER": "postgres",
  "DATABASE_PASSWORD": "postgres",
  "TWITCH_CLIENT_ID": "",
  "TWITCH_CLIENT_SECRET": "",
  "TWITCH_OAUTH_REDIRECT": "http://localhost:8080/twitch/oauth_callback",
  "JWT_VERIFY_SECRET": "",
  "TOKEN_PSK": "",
  "MINECRAFT_SERVER": "subauth.thatgamerblue.com"
}